.countryContainer {
  padding: 30px;
}

.countryLayout {
  display: flex;
  justify-content: space-between;
}

.rightSidebar img {
  width: 300px;
  margin: 15px 0px;
  border-radius: 10px;
}

.rightSidebar table tr th {
  text-align: left;
}