.countryContainer {
  padding: 30px;
}

.activitiesContainer {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.countryLayout {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.leftSidebar {
  flex: 1;
}

.rightSidebar img {
  width: 300px;
  margin: 15px 0px;
  border-radius: 10px;
}

.rightSidebar table tr th {
  text-align: left;
}