body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.appBody {
  /* footer support */
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
  padding-bottom: 150px; /* height of the footer */
}

.darkMode {
  background-color: rgb(22, 34, 34);
  color: white;
}

.darkMode a {
  color: white;
}

.darkMode select {
  color: white;
  outline: none;
  padding: 5px;
  background-color: transparent;
  border-radius: 3px;
}

.darkMode input[type=text] {
  color: white;
  background-color: transparent;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.darkMode option {
  color: white;
  background-color: rgb(22, 34, 34);
}

.darkMode button {
  color: white;
}

.darkMode button:hover {
  background-color: white;
  color: black;
  border: 1px solid gray;
  transition: all 0.2s;
}

.darkMode .disabledButton {
  opacity: 50%;
}

.darkMode .disabledButton:hover {
  background-color: transparent;
  color: white;
  cursor: initial;
}

.container {
  padding: 30px;
}

