.newActivityForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field small {
  color: red;
}

.field button {
  margin: 10px 0px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}