.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
}

.title {
  border-bottom: 1px solid gray;
  padding: 8px;
  margin-bottom: 8px;
}

.title h3, p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}

.mainImage {
  height: 180px;
  object-fit: cover;
}