.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.navControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navControls button {
  background-color: transparent;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}