.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px 8%;
  gap: 20px;
}

.actualFilters {
  display: flex;
  gap: 20px;
}

.filter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter select {
  outline: none;
  padding: 5px;
  background-color: transparent;
  border-radius: 3px;
}

.filter input[type=text] {
  background-color: transparent;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}